docker-compose.yml

*.env
appsettings.Development.json
appsettings.Production.json

bin/
obj/
*.csproj.user
*.suo
*.user
*.userosscache
*.sln.docstates

TestResults/
coverage.*

packages/
*.nupkg

.vs
